@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
*{
    font-family: 'Inter Tight', sans-serif !important;
};

html{
    @apply text-[10px] select-none no-scrollbar
}

body,html{
    @apply bg-color1 bg-[url(/src/images/theme-bg-image.webp)] font-theme bg-no-repeat bg-top bg-cover relative no-scrollbar h-[100svh] ;
    
}
body{
  @apply overflow-x-hidden
}
a{
  @apply text-color3
}
main{
  @apply bg-color1
}
.container {
    @apply px-[15px];
  }
  
  // class basis
  [class*="basis-"],
  [class^="md:basis-"],
  [class^="lg:basis-"],
  [class^="sm:basis-"] {
    @apply px-[15px];
  }


// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.6) 0%,
  rgba(0, 0, 0, 0.3) 100%
);

// * {
//   box-sizing: border-box;
//   user-select: none;
// }

// a {
//   color: #fff;
//   text-decoration: none;
// }



html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



.panel {
  height: 100svh;
  width: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;
  left: 0;

  .outer,
  .inner {
    width: 100%;
    height: 100svh;
    overflow-y: hidden;
  }

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100svh;
    width: 100%;
    top: 0;
    left: 0;
    // @apply bg-[url(/src/images/theme-bg-image.webp)] bg-no-repeat bg-top bg-cover;
    background-size: cover;
    background-position: center;

    h2 {
      z-index: 2;
    }

    .clip-text {
      overflow: hidden;
    }
  }
}


.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  transform-origin: left;
  z-index: 200;
}
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color:hsl(0, 0%, 0%);
  transform-origin: right;
  z-index: 200;

}







.title-wrapper {
  margin: 10rem 3rem;
}

.title {
  // --x: 0px;
  // --y: 0px;
  --mask: radial-gradient(circle at var(--x) var(--y),#000 150px,transparent 100px);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}



// .title-wrapper h1{
  
// }